.main {
  display: flex;
  margin-left: 10;
  margin-right: 10;
  column-gap: 0px;
  align-content: center;
}

.leftBox {
  text-align: center;
  font-size: x-large;
  height: 800px;
  width: 100%;
  background-color: white;
  align-items: center;
  margin-left: 0px;
}

.rightBox {
  font-size: x-large;
  text-align: center;
  height: 800px;
  width: 100%;
  background-color: bisque;
  align-items: center;
  margin-right: 0px;
}
