asyncpg
casbin==1.22.0
casbin-sqlalchemy-adapter==0.5.2
fastapi==0.97.0
google-cloud-bigquery==3.11.3
google-cloud-storage==2.9.0
google-cloud-vision==3.4.4
numpy==1.25.0
opencv-python-headless==4.8.0.74
Pillow==10.0.0
psycopg2-binary
python-multipart
python-jose
python-dotenv==1.0.0
requests==2.31.0
SQLAlchemy==1.4.49
SQLAlchemy-Utils==0.41.1
starlette==0.27.0
uvicorn==0.22.0
git+https://github.com/ehourdebaigt/YaPPL@v0.2.0#egg=yappl
